In [2]:
import pandas as pd

In [6]:
untapped_micros_us_brewery = pd.read_csv('untapped_micros_us_brewery.csv')
untapped_micros_us_brewery_df = untapped_micros_us_brewery.drop(columns=['Unnamed: 0'])
#untapped_micros_us_brewery_df

In [7]:
untapped_contract_brewery_df = pd.read_csv("untapped_contract_brewery.csv")
untapped_contract_brewery_df = untapped_contract_brewery_df.drop(columns=['Unnamed: 0'])
#untapped_meadery_df

In [24]:
untapped_meadery_df = pd.read_csv("untapped_meadery.csv")
untapped_meadery_df = untapped_meadery_df.drop(columns=['Unnamed: 0'])
#untapped_meadery_df

In [25]:
untapped_cidery_df = pd.read_csv("untapped_cidery.csv")
untapped_cidery_df = untapped_cidery_df.drop(columns=['Unnamed: 0'])
#untapped_cidery_df

In [10]:
untapped_brew_pub_df = pd.read_csv('untapped_brew_pub.csv') 
untapped_brew_pub_df = untapped_brew_pub_df.drop(columns=['Unnamed: 0'])
#untapped_brew_pub_df

In [14]:
brewery_untapped_nano_df = pd.read_csv('untapped_nano.csv') 
brewery_untapped_nano_df = brewery_untapped_nano_df.drop(columns=['Unnamed: 0'])
#brewery_untapped_nano_df

In [23]:
untapped_macros_us_brewery = pd.read_csv("untapped_macros_us_brewery.csv")
untapped_macros_us_brewery_df = untapped_macros_us_brewery.drop(columns=['Unnamed: 0'])
#untapped_macros_us_brewery_df

In [27]:
untapped_macros = pd.read_csv("untapped_macros.csv")
brewery_untapped_macros_df = untapped_macros.drop(columns=['Unnamed: 0'])
#untapped_macros_us_brewery_df

In [11]:
brewery_untapped_regional_df = pd.read_csv('untapped_regional.csv') 
brewery_untapped_regional_df = brewery_untapped_regional_df.drop(columns=['Unnamed: 0'])
#brewery_untapped_regional_df

In [21]:
brewery_untapped_micro_df = pd.read_csv('untapped_micros.csv') 
brewery_untapped_micro_df = brewery_untapped_micro_df.drop(columns=['Unnamed: 0'])

#brewery_untapped_micro_df

In [28]:
#untapped_macros_us_brewery_df, 
dfs = [brewery_untapped_micro_df, 
       untapped_micros_us_brewery_df, 
       untapped_contract_brewery_df, 
       untapped_meadery_df, 
       untapped_cidery_df, 
       untapped_brew_pub_df, 
       brewery_untapped_nano_df, 
       untapped_macros_us_brewery_df, 
       brewery_untapped_macros_df, 
       brewery_untapped_regional_df, 
       brewery_untapped_micro_df]

brewery_untapped_all = pd.concat(dfs)

In [29]:
brewery_untapped_all[['number_beers','b', 'number_ratings','r']] = brewery_untapped_all.number_beers.str.split(' ', expand=True)
brewery_untapped_all = brewery_untapped_all.drop(columns=['b','r'])

brewery_untapped_all

,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings,number_ratings
0,Floodland Brewing,"Seattle, WA United States",Micro Brewery,11,(4.44),"40,122"
1,Side Project Brewing,"Saint Louis, MO United States",Micro Brewery,241,(4.434),"447,783"
2,Fidens Brewing Co,"Colonie, NY United States",Micro Brewery,272,(4.393),"212,316"
3,Smooj,"Ann Arbor, MI United States",Micro Brewery,36,(4.39),"43,119"
4,Weaver Hollow Brewery,"Andes, NY United States",Micro Brewery,51,(4.384),"3,208"
...,...,...,...,...,...,...
45,Mcilhenney Brewing Company,"Alpine, CA United States",Micro Brewery,41,(4.202),"6,665"
46,Field & Oak,"Ocean Township, NJ United States",Micro Brewery,49,(4.2),"5,246"
47,Mixed Breed Brewing,"Guilderland Center, NY United States",Micro Brewery,67,(4.199),"7,559"
48,Long Live Beerworks,"Providence, RI United States",Micro Brewery,591,(4.198),"187,802"
49,Boiler Brewing Co.,"Lincoln, NE United States",Micro Brewery,858,(4.198),"140,582"

In [40]:
brewery_apilist_df = pd.read_csv('brewery_list.csv') 
brewery_apilist_df = brewery_apilist_df.drop(columns=['Unnamed: 0','id','address_2', 'address_3','updated_at','created_at'])

#brewery_apilist_df.head()

In [41]:
brewery_apilist_df.rename(columns = {'name':"brewery_name"},inplace = True)
brewery_apilist_df.head()

,brewery_name,brewery_type,street,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url
0,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN
1,10 Barrel Brewing Co,large,62970 18th St,Bend,Oregon,NaN,97701-9847,United States,-121.281706,44.086835,5415851007,http://www.10barrel.com
2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,Bend,Oregon,NaN,97703-2465,United States,-121.328802,44.057565,5415851007,NaN
3,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Bend,Oregon,NaN,97701,United States,-121.280954,44.091211,5415851007,NaN
4,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Boise,Idaho,NaN,83702-5857,United States,-116.202929,43.618516,2083445870,http://www.10barrel.com

In [42]:
brewery_final_df = brewery_apilist_df.merge(brewery_untapped_all, on='brewery_name', how='outer')

In [96]:
brewery_final_df

,brewery_name,brewery_type_x,street,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url,brewery_location,brewery_type_y,number_beers,brewery_ratings,number_ratings
0,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN
1,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN
2,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN
3,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN
4,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9045,Cult Of Oak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Netherton, West Midlands England",Micro Brewery,24,(4.277),"1,596"
9046,Spartacus Brewing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Juiz de Fora, Minas Gerais Brazil",Micro Brewery,169,(4.265),"88,065"
9047,Messorem,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montreal, QC Canada",Micro Brewery,386,(4.213),"188,602"
9048,Badlands Brewing Company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Caledon, ON Canada",Micro Brewery,306,(4.205),"86,900"
9049,Brasserie Auval Brewing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Val d'Espoir, QC Canada",Micro Brewery,69,(4.203),"61,088"

In [43]:
# brewery_final_df = brewery_final_df.drop_duplicates()
cols = ['brewery_type_x','brewery_type_y',]

brewery_final_df['brewery_type'] = brewery_final_df[cols].sum(1)
brewery_final_df.drop(cols, 1)
brewery_final_df

/var/folders/lt/r23wrnp91wx9lpfj7gr25m3rgb08gl/T/ipykernel_6469/1340854665.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  brewery_final_df['brewery_type'] = brewery_final_df[cols].sum(1)
/var/folders/lt/r23wrnp91wx9lpfj7gr25m3rgb08gl/T/ipykernel_6469/1340854665.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  brewery_final_df.drop(cols, 1)

,brewery_name,brewery_type_x,street,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url,brewery_location,brewery_type_y,number_beers,brewery_ratings,number_ratings,brewery_type
0,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,10-56 Brewing Company,micro,400 Brown Cir,Knox,Indiana,NaN,46534,United States,-86.627954,41.289715,6308165790,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9145,HenHouse Brewing Company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Santa Rosa, CA United States",Regional Brewery,262,(3.929),"176,088",0.0
9146,The Starkeller Brewery + Taproom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"New Ulm, MN United States",Regional Brewery,43,(3.928),"41,578",0.0
9147,Alpine Beer Company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Collins, CO United States",Regional Brewery,263,(3.915),"611,536",0.0
9148,Melvin Brewing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Alpine, WY United States",Regional Brewery,640,(3.914),"436,822",0.0
9149,Hardywood Park Craft Brewery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA United States",Regional Brewery,595,(3.912),"775,928",0.0

In [46]:
brewery_final_df = brewery_final_df.drop_duplicates()

In [47]:
brewery_final_df.to_csv("brewery_final_df.csv")

In [ ]:
# cols_to_use = all_breweries_merged_df.columns.difference(brewery_untapped_regional_df.columns)
# cols_to_use